@primary-background: #181E36;
@secondary-background: #2E3349;
@tertiary-background: #252A40;

@primary-text:#047BF0;
@secondary-text: #A0A7C2;
@tertiary-text: #FFFFFF;

@primary-misc: #2DD5B9;
@secondary-misc: #8DCEE3;

@danger: #FF0000;

.secondary-background{
    background-color: @secondary-background !important;
}
.secondary-text{
    color: @secondary-text !important;
}

.tertiary-text{
    color: @tertiary-text !important;
}   

.text-danger, .border-danger{
    color: @danger !important;
}

.tertiary-background{
    background-color: @tertiary-background !important;
}

.bg-custom{
    background-color: @primary-background !important;
}
.text-primary-misc{
    color: @primary-misc !important;
}

.btn{
    background-color: @secondary-background !important;
    border-color: @primary-misc !important;
}
.btn:hover{
    .btn-span{
        text-decoration: underline !important;
    }
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc;
    z-index: 1;
}
.glow:hover{
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc;
    z-index: 1;
}
.glow:focus{
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc !important;
    z-index: 2;
}

.btn-nav{
    background-color: @primary-background !important;
}

.text-primary{
    color: @primary-misc !important;
}

.nav-link:hover{
    background-color: @secondary-background !important;
}

.nav-status{
    background-color: @primary-misc;
}
#header{
    background-color: @primary-background;
}
.header-text{
    color: @primary-misc;
}

#help-popover{
    background-color: @tertiary-background;
    border-color: @primary-misc;
    width: 400px;
}
#popover-desc{
    font-size: 16px;
    font-weight: lighter;
}

#popover-footer{
    font-size: 10px;
    font-weight: lighter;
}

.offcanvas{
    width: 300px !important;
}
.bg-custom-secondary{
    background-color: @secondary-background !important;
}
.bg-custom-tertiary{
    background-color: @tertiary-background !important;
}

input[type="text"]::-webkit-input-placeholder {
    color: @secondary-text;
}

.nav-submenu {
    max-height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}
.nav-submenu.open {
    max-height: 500px; /* Adjust based on content */
}
.nav-title{
    cursor: pointer;
}

#uppy-dashboard{
    height: calc(100vh - (82px + 56px)) !important;
}

.uppy-Dashboard-inner{
    background-color: @secondary-background !important;
    border-color: @primary-misc !important;
}
.uppy-u-reset.uppy-c-btn.uppy-Dashboard-browse{
    color: @primary-misc !important;
    text-decoration: none !important;
}
/* input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
} */
.modal-content{
    background-color: @secondary-background !important;
}
.btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}
.main-content{
    height: calc(100vh - 82px);
}
.content-group{
    background-color: @tertiary-background;
}
.plan-details{
    font-size: 12px;
}
.plan-detail-textbox{
    font-size: 32px;
    text-align: center;
}
.section-details-label{
    font-size: 12px;
    color: @primary-misc;
    font-weight: 500;
    white-space: nowrap;
    padding-right: 8px;
}
.flatpickr-no-calendar{
    background-color: @secondary-background !important;
    border: 0;
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    color: @primary-misc;
    text-align: center;
}
.causeCategories-span, .actionCategories-span{
    font-size: 10px;
}
.popover-body{
    background-color: @secondary-background !important;
    border-radius: 8px;
    border: 0;
}

.output-header{
    font-size: 12px;
}
.nav.nav-tabs{
    border-bottom: @primary-misc 1px solid !important;
}
.nav-tabs .nav-link{
    background-color: @tertiary-background !important;
    color: @tertiary-text !important;
    font-weight: bold;
    font-size: 12px;
    border-bottom: @primary-misc 1px solid !important;
}
.nav-tabs .nav-link.active{
    background-color: @secondary-background !important;
    color: @primary-misc !important;
    font-weight: bold;
    font-size: 16px;
    border-color: @primary-misc !important;
}
.danger{
    border-color: @danger !important;
    color: @danger !important;
}
.danger:hover{
    border-color: @danger !important;
    box-shadow: 0 0 10px @danger, 0 0 20px @danger;
}

#searchPO:focus-visible{
    outline: 0 !important;
    border: 0 !important;
}
.flatpickr-input:focus-visible{
    outline: 0 !important;
    border: 0 !important;
}
input[type="checkbox"]{
    accent-color: @primary-misc;
}
.popover-trigger{
    cursor: pointer;
}

#details-container{
    color : @secondary-misc;
    font-size: 12px;
}

#data-table td, tr{
    position: relative;
}
#data-table td, th{
    background-color: @tertiary-background !important;
    color: @secondary-text !important;
    border: 0;
    text-align: center !important;
    vertical-align: middle !important;

}

#data-table tr:hover{
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc;
    z-index: 2;
}
#data-table tr:focus{
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc !important;
    z-index: 2;
}

[id^="dt-search-"] {
    color: @primary-misc !important;
    background-color: @tertiary-background !important;
    border-color: @primary-misc !important;
}

[id^="dt-search-"]:hover {
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc;
    z-index: 1;
}

[id^="dt-search-"]:focus {
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc !important;
    z-index: 2;
}

[id^="dt-length-"] {
    color: @primary-misc !important;
    background-color: @tertiary-background !important;
    border-color: @primary-misc !important;
}
[id^="dt-length-"]:hover{
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc;
    z-index: 1;
}

[id^="dt-length-"]:focus{
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc !important;
    z-index: 2;
}

.page-link{
    color: @primary-misc !important;
    background-color: @tertiary-background !important;
    border: solid 1px @primary-misc !important;
}

.dt-paging-button.page-item.active .page-link{
    background-color: @primary-misc !important;
    color: @tertiary-background !important;
    border-color: @primary-misc !important;
}

.dt-paging-button.page-item.active .page-link:hover{
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc;
    z-index: 1;
}

.buttons-colvis{
    background-color: @tertiary-background !important;
    color: @primary-misc !important;
    font-weight: 500 !important;
}

label{
    color: @primary-misc !important;
    font-size: 12px;
    font-weight: 500;
}

.primary-border{
    border-color: @primary-misc !important;
}

.initial-setup{
    display: none !important;
}

select{
    cursor: pointer;
}
div:where(.swal2-container) div:where(.swal2-popup){
    background-color: @primary-background !important;
    border: 1px solid @primary-misc !important;
    color: @primary-misc !important;
}

.swal2-confirm{
    background-color: @tertiary-background !important;
    border: 1px solid @primary-misc !important;
    color: @primary-misc !important;
}

.swal2-confirm:hover{
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc;
    z-index: 1;
}

.swal2-cancel{
    background-color: @tertiary-background !important;
    border: 1px solid @danger !important;
    color: @danger !important;
}
.swal2-cancel:hover {
    box-shadow: 0 0 10px @danger, 0 0 20px @danger;
    z-index: 1;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 90px;
    height: 14px;
    box-shadow: 0 3px 0 #fff;
    background: linear-gradient(#fff 0 0) 50%/2px 100% no-repeat;
    display: grid;
  }
  .loader:before,
  .loader:after{
    content: "";
    grid-area: 1/1;
    background: radial-gradient(circle closest-side, var(--c,#fff) 92%,#0000 ) 0 0/calc(100%/4) 100%;
    clip-path: inset(0 50% 0 0);
    animation: l3 1s infinite linear;
  }
  .loader:after{
    --c: @primary-misc; 
    clip-path: inset(0 0 0 50%);
  }
  @keyframes l3 {
      100% {background-position: calc(100%/3) 0}
  }

[contenteditable]:focus-visible {
    color: @primary-misc !important;
    background-color: @tertiary-background !important;
    border-color: @primary-misc !important;
    outline: none;
}

[contenteditable]:hover {
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc;
    z-index: 1;
    outline: none;
}

[contenteditable]:focus {
    box-shadow: 0 0 10px @primary-misc, 0 0 20px @primary-misc;
    z-index: 2;
    outline: none;
}

.border-solid{
    border: 1px solid @primary-misc !important;
}