@primary-background: #181E36;
@secondary-background: #2E3349;
@tertiary-background: #252A40;

@primary-text:#047BF0;
@secondary-text: #A0A7C2;
@tertiary-text: #FFFFFF;

@primary-misc: #2DD5B9;
@secondary-misc: #8DCEE3;

.bg-custom{
    background-color: @primary-background !important;
}

.btn{
    background-color: @secondary-background !important;
}

.btn-nav{
    background-color: @primary-background !important;
}

.text-primary{
    color: @primary-misc !important;
}

.nav-link:hover{
    background-color: @secondary-background !important;
}

.nav-status{
    background-color: @primary-misc;
}
#header{
    background-color: @primary-background;
}
.header-text{
    color: @primary-misc;
}

#help-popover{
    background-color: @tertiary-background;
    border-color: @primary-misc;
    width: 400px;
}
#popover-desc{
    font-size: 16px;
    font-weight: lighter;
}

#popover-footer{
    font-size: 10px;
    font-weight: lighter;
}

.offcanvas{
    width: 300px !important;
}
.bg-custom-secondary{
    background-color: @secondary-background !important;
}
.bg-custom-tertiary{
    background-color: @tertiary-background !important;
}

input[type="text"]::-webkit-input-placeholder {
    color: @secondary-text;
}

.nav-submenu {
    max-height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}
.nav-submenu.open {
    max-height: 500px; /* Adjust based on content */
}
.nav-title{
    cursor: pointer;
}